---
title: Comparando os resultados do teste de carga
ms.date: 10/19/2016
ms.topic: how-to
helpviewer_keywords:
- load tests, reporting
- load tests, results
ms.assetid: 31874114-459a-45d5-9f8b-2ea503627db8
author: mikejo5000
ms.author: mikejo
manager: jillfra
ms.openlocfilehash: d2390b7efde62d475008dcb17aa24ed69ebf4bf5
ms.sourcegitcommit: 1d4f6cc80ea343a667d16beec03220cfe1f43b8e
ms.translationtype: MT
ms.contentlocale: pt-BR
ms.lasthandoff: 06/23/2020
ms.locfileid: "85288839"
---
# <a name="report-load-tests-results-for-test-comparisons-or-trend-analysis"></a>Relatar resultados de teste de carga para comparações de testes ou análise de tendências

Você pode gerar relatórios de teste de carga do Microsoft Excel baseados em dois ou mais resultados de teste.

[!INCLUDE [web-load-test-deprecated](includes/web-load-test-deprecated.md)]

Dois tipos de relatórios de teste de carga estão disponíveis:

- Comparação de execução&mdash;Esse relatório tem, na verdade, dois relatórios que exibem dados de comparação lado a lado usando tabelas e gráficos de barras.

- Tendência&mdash;É possível gerar a análise de tendência em dois ou mais relatórios. Os resultados são exibidos usando-se gráficos de linhas.

Qualquer relatório pode ser usado para compartilhar dados de desempenho com participantes e informar se o desempenho e a integridade gerais do sistema estão melhorando ou piorando.

As definições de relatório são armazenadas no banco de dados de teste de carga. Quando um relatório é salvo, a definição do relatório é salva no banco de dados e pode ser reutilizada mais tarde.

Além disso, o arquivo da planilha do Excel pode ser compartilhada com participantes de modo que os participantes precisem se conectar ao banco de dados para ver o relatório.

> [!NOTE]
> Se você adicionar comentários a um teste de carga, eles aparecerão no relatório do Excel.

## <a name="tasks"></a>Tarefas

|Tarefas|Tópicos associados|
|-|-|
|**Criar um relatório de desempenho e estresse:** Você pode criar relatórios sobre os testes de desempenho da Web e de carga usando o Microsoft Excel.|- [Como: criar relatórios de desempenho de teste de carga usando o Microsoft Excel](../test/how-to-create-load-test-performance-reports-using-microsoft-excel.md)|
|**Crie manualmente um relatório de desempenho e estresse usando o Microsoft Word:** Você pode criar relatórios sobre a carga e os testes de desempenho da Web manualmente copiando e colando dados de resumo, tabela e gráfico em um documento do Microsoft Word.|- [Como criar manualmente um relatório de desempenho de teste de carga usando o Microsoft Word](../test/how-to-manually-create-a-load-test-performance-report-using-microsoft-word.md)|

## <a name="see-also"></a>Veja também

- [Analisar resultados do teste de carga](../test/analyze-load-test-results-using-the-load-test-analyzer.md)
